[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-mongoengine = "*"
uuid = "*"
requests = "*"
authlib = "*"
python-dotenv = "*"
pymongo = "*"

[dev-packages]
autopep8 = "*"
flake8 = "*"
yapf = "*"

[requires]
python_version = "3.10"
